* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Montserrat', sans-serif;
}

body {
background: #0c0028;
color: white;
}

.imagem-icones{
    width: 60px;
    height: 60px;
    border-radius: 40%;
    padding: 5px;
    object-fit: cover;
}

.imagem-sobre{
    padding: 5px;
}

.navbar {
width: 100%;
padding: 20px 40px;
background: #f1c40f;
display: flex;
justify-content: space-between;
align-items: center;
position: fixed;
top: 0;
z-index: 100;
}


.navbar a {
margin-left: 20px;
text-decoration: none;
color: #0c0028;
font-weight: bold;
}


.btn-contato {
padding: 8px 20px;
border: 2px solid #0c0028;
border-radius: 8px;
}


/* INÍCIO */
.inicio {
display: flex;
justify-content: space-between;
align-items: center;
padding: 150px 40px 80px;
font-size: 20px;
}


.inicio .texto h1 span {
color: #f1c40f;
font-size: 50px;
}


.destaque {
color: #f1c40f;
}

.imagem-circulo {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  object-fit: cover;
}


/* SOBRE */
.sobre {
padding: 120px 40px;
display: flex;
justify-content: space-between;
text-align: justify;
}


.sobre span {
color: #f1c40f;
}

/* HABILIDADES */
.habilidades {
padding: 120px 40px;
text-align: justify;
}


.cards {
display: flex;
gap: 20px;
justify-content: space-around;
padding: 20px;
}


.card {
background: #1a093d;
padding: 15px;
border-radius: 16px;
color: white;
border: 2px solid #f1c40f44;
text-align: center;
flex: 1;
min-width: 150px;

}

.imagem-cards{
    width: 200px;
    height: 200x;     
}


/* PORTFÓLIO */
.portfolio {
padding: 20px 40px;
font-size: 20px;
text-align: justify;
align-items: flex-start;
}


.grid-portfolio {
display: flex;
width: 800px;
height: 1000px;
gap: 20px;
justify-items: start;
padding-top: 10px;
}


.item {
width: 100%;
border-radius: 20px;
border: 3px solid #f1c40f;
}


/* CONTATO */
.contato {
padding: 20px 40px;
}


.form {
display: flex;
flex-direction: column;
gap: 20px;
max-width: 600px;
}


input, textarea {
padding: 12px;
border-radius: 8px;
border: 2px solid #f1c40f;
background: transparent;
color: white;
}


button {
padding: 14px;
background: #f1c40f;
border: none;
border-radius: 8px;
font-weight: bold;
cursor: pointer;
}


/* RESPONSIVIDADE */
@media (max-width: 900px) {
.inicio, .sobre {
flex-direction: column;
text-align: center;
}
}